:root body {
  margin: 0;
  font-family: "Neucha", cursive;
}
.navbar {
  display: flex;
  justify-content: space-between;
  background-color: palegoldenrod;
  align-items: center;
  padding: 8px 12px;
}
a {
  text-decoration: none;
}
.navbar_logo {
  font-size: 24px;
}
.navbar_logo i {
  color: palevioletred;
}
.navbar_menu {
  display: flex;
  padding-left: 0;
  margin: 0;
}
.navbar_menu li {
  padding: 8px 12px;
  list-style: none;
}
.navbar_menu li:hover {
  background-color: palevioletred;
  border-radius: 4px;
}
.navbar_icons {
  display: flex;
  padding: 0;
}
.navbar_icons li {
  list-style: none;
  padding: 8px 8px;
}
.navbar_toggleBtn {
  position: absolute;
  right: 24px;
  font-size: 24px;
  color: palevioletred;
  display: none;
}

@media screen and (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
    padding: 8px 12px;
  }
  .navbar_menu {
    flex-direction: column;
    align-items: center;
    width: 100%;
    display: none;
  }
  .navbar_menu li {
    width: 100%;
    text-align: center;
  }
  .navbar_icons {
    justify-content: center;
    width: 100%;
    display: none;
  }
  .navbar_toggleBtn {
    display: block;
  }
  .navbar_menu.active,
  .navbar_icons.active {
    display: flex;
  }
}
